{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}{{ title }}- The Little Pawn{% endblock %}

{% block content %}
    {% if query %}
        <h1>Posts containing "{{query}}"</h1>
        <h3>
            {% with results.count as total_results %}
                Found {{ total_results }} result {{ total_results | pluralize}}
            {% endwith %}
        </h3>
        {% for post in results %}
            <div class="post-query">
                <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                <p>{{ post.body|truncatewords_html:5 }}</p>
            </div>
        {% empty %}
            <p>There are no results for your query.</p>
        {% endfor %}
        
        <p><a href="{%url 'post_search' %}">Search Again</a></p>
    {% else %}
        <h2>Search for Stories</h2>
        <form method="get">
            {{form.as_p}}
            <input type="submit" value="Search">
        </form>
    {% endif %}
{% endblock  %}